<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="light">
      Welcome to your profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to your profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-button color="light" expand="block" shape="round" fill="outline" (click)="GoToLocation()" >Click here to locate your parcel</ion-button>
</ion-content>
